.section {
  padding-bottom: 94px;
  padding-top: 94px;
}

.work-section {
  padding-top: 0;
}

.section-title {
  color: var(--title-text-color);

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 50px;
}

// .features__list {
//   // display: flex;
//   justify-content: space-between;
//   margin-bottom: 30px;
//   &:not(:last-child) {
//     margin-right: 30px;
//   }
// }
.features__list {
  @media screen and (min-width: 768px) {
    width: 768px;
    @include flex(flex, null, wrap, null, null);
    margin-left: -30px;
    margin-bottom: -30px;
  }
  @media screen and (min-width: 1200px) {
    width: 1200px;
    // @include flex(flex, null, null, null, null);
    margin-bottom: 0;
  }
}
// .features__item {
//   justify-content: center;
//   align-items: center;

//   margin-right: 30px;
//   width: calc((100% - 90px) / 4);
//   &:last-child {
//     margin-right: 0;
//   }
// }
.features__item {
  @media screen and (max-width: 767px) {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }
  @media screen and (min-width: 768px) {
    flex-basis: calc(100% / 2 - 30px);
    margin-left: 30px;
    margin-bottom: 30px;
  }
  @media screen and (min-width: 1200px) {
    flex-basis: calc(100% / 4 - 30px);
    margin-bottom: 0;
  }
}
.features__caption {
  margin-bottom: 10px;
  text-align: center;
  @include font(
    Roboto,
    14px,
    700,
    1.14,
    0.03em,
    var(--title-text-color),
    uppercase,
    null
  );

  @media screen and (min-width: 768px) {
    text-align: left;
  }
}

// .features__box {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   background-color: var(--gray-background-color);
//   border-radius: 4px;
//   width: 270px;
//   height: 120px;
//   margin-bottom: 30px;
// }
.features__box {
  @include flex(flex, null, null, center, center);
  margin-bottom: 30px;
  height: 120px;
  color: var(--features-icon-color);
  background-color: var(--features-icon-background);
  @media screen and (min-widht: 480px) {
    width: 450px;
  }
  @media screen and (min-widht: 768px) {
    width: 354px;
  }
  @media screen and (min-widht: 1200px) {
    width: 270px;
  }
}
.features__icon {
  width: 70px;
  height: 70px;
  fill: currentColor;
}

.features__caption {
  color: var(--title-text-color);

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;

  margin-bottom: 10px;
}

.features__text {
  font-size: 14px;
  line-height: 1.71;
}
