.content__button {
  display: inline-block;
  padding: 6px 22px;

  background-color: #f5f4fa;
  border-style: none;
  border-radius: 4px;
  cursor: pointer;
  @include font(
    Roboto,
    16px,
    500,
    1.62,
    0.03em,
    var(--title-text-color),
    null,
    null
  );
  @include transition(
    color,
    background-color,
    box-shadow,
    var(--duration),
    var(--function)
  );

  &.curent {
    color: var(--white-color);
    background-color: var(--accent-colot);
  }

  &:hover,
  &:focus {
    color: var(--white-color);
    background-color: var(--accent-colot);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}

.content__list {
  @include flex(flex, null, wrap, flex-start, center);
  margin-left: -8px;
  align-content: space-between;
  margin-bottom: 40px;

  @media screen and(min-width:768px) {
    margin-bottom: 30px;
    justify-content: center;
  }
  @media screen and(min-width:1200px) {
    margin-bottom: 50px;
  }
}
.content__items {
  margin-left: 8px;
  @media screen and (max-width: 767px) {
    margin-bottom: 15px;
  }
}

.card__list {
  @media screen and (min-width: 768px) {
    @include list(flex, wrap, -30px, -30px, null, null, null);
  }
}

.card__items {
  &:not(:last-child) {
    margin-bottom: 30px;
  }
  @media screen and (min-width: 768px) {
    @include item(var(--gap), var(--gap), null, null, null, 2, var(--gap));
  }
  @media screen and(min-width:1200px) {
    @include item(var(--gap), var(--gap), null, null, null, 3, var(--gap));
  }
}

.card__body {
  position: relative;
  overflow: hidden;
}

.card__link {
  text-decoration: none;
  // display: flex;
  // flex-direction: column;
  // height: 100%;

  transition: box-shadow 250ms var(--function);

  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
}
.card__image {
  width: 100%;
}

.card-block__text {
  color: var(--primeri-text-color);

  font-size: 16px;
  line-height: 1.87;
}

.card-block__title {
  color: var(--title-text-color);

  font-size: 18px;
  line-height: 2;
  font-weight: 700;
  letter-spacing: 0.06em;
}

.card-block {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: 0;
  flex-grow: 1;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding: 77px 24px;
  overflow-y: auto;

  background-color: rgba(33, 150, 243, 0.9);

  transform: translateY(+101%);
  @include transition(transform, null, null, var(--duration), var(--function));

  .card__link:hover &,
  .card__link:focus & {
    transform: translateY(0);
  }

  @media scree and (min-width: 768px) {
    padding: 49px 24px;
  }

  @media scree and (min-width: 1200px) {
    padding: 63px 24px;
  }
}
.overlay__caption {
  @include font(
    Roboto,
    18px,
    400,
    1.56,
    0.03em,
    var(--white-color),
    null,
    null
  );
}

.menu-button {
  display: inline-flex;

  padding: 0;
  border: 0;
  background-color: transparent;

  transition: fill var(--duration) var(--function);

  &:hover,
  &:focus {
    fill: var(--accent-colot);
  }

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.menu-button-close {
  position: absolute;
  top: 10px;
  right: 15px;
  padding: 0;

  border: 0;
  background-color: transparent;

  transition: fill var(--duration) var(--function);

  &:hover,
  &:focus {
    fill: var(--accent-colot);
  }

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.menu-button-close__icon-close {
  display: none;
}
.menu-button__icon-menu {
  display: block;
}
.menu-container.is-open .menu-button-close__icon-close {
  display: block;
}
.menu-container.is-open .menu-button__icon-menu {
  display: none;
}
