:root {
  --primeri-text-color: #757575;
  --title-text-color: #212121;
  --accent-colot: #2196f3;
  --white-color: #ffffff;
  --gray-background-color: #f5f4fa;
  --black-background-color: #2f303a;
  --translucent-color: rgba(255, 255, 255, 0.6)
  --social-image-color: #dafb1b8;
  --logo-color:#2196F3;
  --bg-hover-button:#188ce8;
  --adress-color: rgba(255, 255, 255, 0.6);
  --overlay-card-color: rgba(33, 150, 243, 0.9);
  --duration: 250ms;
  --function: cubic-bezier(0.4, 0, 0.2, 1);
  --modal-title-color: #212121;
  --modal-icon-input-color: #212121;
  --modal-text-color: #757575;
  --modal-comment-placeholder: rgba(117, 117, 117, 0.5);
  --modal-policy-link: #2196f3;
  --modal-button-submit-color: #ffffff;
  --modal-checkbox-border-color: #212121;
}